.player-column {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 5fr;
	border-radius: 20px;
	background-color: rgba(24, 25, 26, 0.9);
	border: 2px solid black;
}
  
.player-title {
	grid-column: 1 / 2;
	grid-row: 1 / 1;
	text-align: center;
	border-bottom: 2px solid black;
	border-top-right-radius: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("/assets/giphy2.gif");
	backdrop-filter: blur(50px);
	-webkit-text-stroke: 1px black;
}

.player-title p {
	position: relative;
	top: 5px;
	font-size: 25px;
	color: darkslateblue;
	text-shadow: 0 0 10px #fff, 0 0 20px #00c4ff, 0 0 30px #00c4ff,
	  0 0 40px #00c4ff, 0 0 70px #00c4ff, 0 0 80px #00c4ff, 0 0 100px #00c4ff;
}

.player-list {
	grid-row: 4 / 5;
	display: grid;
	overflow-y: auto !important;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
  }
  
.player-items {
	margin: 20px;
}

.player-menu {
	display: none;
	position: absolute;
	background-color: #333;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 1;
}
  
.player-list div:hover .player-menu {
	display: block;
	margin-left: 10px;
  
}

.button {
	background-color: darkslateblue;
	color: orange;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 10px;
	margin-bottom: 10px;
}
  
.button:hover {
	background-color: rgb(41, 33, 91);
}
  
.button:last-child {
	margin-right: 0; /* pas de marge droite pour le dernier bouton */
}
  
.invateToGame {
	background-color: darkslateblue; 
	color: orange; 
	padding: 15px 30px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 10px;
}
  
.invateToGame:hover {
	background-color: rgb(41, 33, 91);
}
  
.block {
	background-color: darkslateblue; 
	color: orange; 
	padding: 15px 30px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 5px;
	margin-bottom: 10px;
}
  
.block:hover {
	background-color: rgb(41, 33, 91);
}