
<section class="player-column">
  <div class="player-title">
    <p>Users list</p>
  </div>
  <section class="player-list">
    <div class="player-items" *ngFor="let player of players" (click)="togglePlayerMenu(player)">
      {{ player.name }}
      <div *ngIf="player.showMenu" class="player-menu">
        <button class="invateToGame" (click)="inviteToGame(player)">Invate to game</button>
        <button class="button" (click)="profile(player)">Profile</button>
        <button class="button" (click)="DM(player)">DM</button>
        <button class="block" (click)="block(player)">Block</button>
        <button class="button" (click)="mute(player)">Mute</button>
        <button class="button" (click)="kick(player)">Kick</button>
        <button class="invateToGame" (click)="ban(player)">Ban</button>
        <button class="invateToGame" (click)="set_admin(player)">Set admin</button>
      </div>
    </div>
  </section>
</section>