<section class="player-column">
  <div class="player-title">
    <p>{{channelName | slice:0:7}}</p>
  </div>
  <section class="player-list">
    <div class="player-items" *ngFor="let player of players"
      (mouseenter)="togglePlayerMenu(player)" 
	    (mouseleave)="togglePlayerMenu(player)">
      {{ player.name }}
      <div @accordion *ngIf="player.showMenu && player.role !== 'EMPTY'" class="player-menu">
        <section *ngIf="player.banOrKick !== 'BANNED'">
            <button *ngIf="!this.user.pending && !player.isBlock && !this.user.blocked" class="invateToGame" (click)="inviteToGame(player)">Invite to game</button>
            <button *ngIf="this.user.pending && !player.isBlock && !this.user.blocked" class="noInvateToGame">Invite alreay sent</button>
            <button *ngIf="player.isBlock && !this.user.blocked" class="noInvateToGame">Blocking</button>
            <button *ngIf="this.user.blocked" class="noInvateToGame">Blocked</button>
        
            <button class="profile" (click)="profile(player)">Profile</button>
            <button class="DM" (click)="DM(player)" [ngStyle]="{'background-color': isGroupChat ? '' : 'grey'}">DM</button>

            <button *ngIf="!player.isBlock && !this.user.blocked" class="block" (click)="block(player)">Block</button>
            <button *ngIf="this.user.blocked" class="block">Blocked</button>

            <button *ngIf="player.isBlock" class="unblock" (click)="unblock(player)">unBlock</button>
            <section *ngIf="isGroupChat && (myRole === 'OWNER' || myRole === 'ADMIN') && player.role !== 'OWNER'">

              <button *ngIf="!player.isMuted" class="mute" (click)="mute(player)">Mute</button>
              <button *ngIf="player.isMuted" class="unmute" (click)="unmute(player)">UnMute</button>
              <button class="kick" (click)="kick(player)">Kick</button>
              <button class="ban" (click)="ban(player)">Ban</button>

              <button *ngIf="player.role != 'ADMIN'" class="set_admin" (click)="set_admin(player)">Set admin</button>
              <button *ngIf="player.role == 'ADMIN'"class="rm_admin" (click)="rm_admin(player)">Remove admin</button>
            </section>

          </section>
          <section *ngIf="player.role === 'OWNER'">
            <button class="invateToGame" [ngStyle]="{'background-color': 'yellow'}">OWNER CH</button>
          </section>
          <section *ngIf="player.banOrKick == 'BANNED'">
            <button class="unban" (click)="unban(player)">unBan</button>
          </section>
        </div>
      </div>
    </section>
</section>
