<dialog class="newChannel" [ngStyle]="{'height': selectedGroupType !== 'public' ? '65vh' : '75vh'}">
  <!-- Il resto del tuo codice rimane invariato -->
  <p>CREATE NEW CHANNEL</p>
  <input
    id="channel-input"
    [(ngModel)]="channelName"
    class="channel-input"
    type="text"
    placeholder="Insert channel name"
  />
  <input
    id="users-input"
    [(ngModel)]="search"
    class="channel-input"
    type="text"
    [placeholder]="placeholder"
    (keydown.enter)="addUser()"
    spellcheck="false"
  />

  <select [(ngModel)]="selectedGroupType" class="channel-input">
    <option value="private">Private</option>
    <option value="public">Public</option>
  </select>
  
  <div *ngIf="selectedGroupType === 'public'">
    <input
      id="password-input"
      [(ngModel)]="password"
      class="channel-input"
      type="text"
      placeholder="Insert password"
    />
  </div>
  

  <section class="select-area">
    <span>CHANNEL USERS:</span>
    <div class="space">
      <div class="select-user" *ngFor="let user of channelUsers">
        {{ user }}
      </div>
    </div>
  </section>
  <button style="background-color: green" (click)="createNewChannel()">
    CREATE
  </button>
  <button style="background-color: red" (click)="changeDialogStatus()">
    CANCEL
  </button>
  <span style="color: red">{{ errorMsg }}</span>
</dialog>
