.profile-container {
  font-family: Azonix;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;
}

.profile-box {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr 2fr;
  border-radius: 8px;
  color: orange;
  margin-bottom: 90px;
  width: 95%;
  height: 85%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(40px);
}

.profile-image-space {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  position: relative;
  margin-left: 50px;
  margin-top: 50px;
  align-items: center;
  overflow: hidden;
  width: 250px;
  height: 250px;
  border: 2px solid;
  border-radius: 50%;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.change-text {
  font-family: Azonix;
  font-size: 20px;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  text-align: center;
  display: none;
  border: none;
  color: orange;
  background-color: transparent;
}

.username {
  grid-row: 1 / 2;
  grid-column: 4 / 4;
  font-size: 70px;
  margin-top: 60px;
  margin-right: 40px;
  text-align: right;
}

.logout {
  grid-row: 3 / 3;
  grid-column: 4 / 4;
}

.logout button {
  float: right;
  margin-right: 40px;
  font-family: Azonix;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
  padding: 15px;
  transition: background 0.3s;
  color: white;
  background-image: linear-gradient(to right, purple, orange);
}

.matchbox {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 2fr 2fr 2fr;
  align-items: center;
  grid-row: 2 / 2;
  grid-column: 4 / 4;
  font-size: 40px;
  margin-right: 40px;
}

.win {
  grid-row: 1 / 1;
  text-align: right;
}

.winRes {
  grid-row: 2 / 2;
  text-align: right;
  color: green;
  padding-bottom: 20px;
}
.lose {
  grid-row: 3 / 3;
  text-align: right;
}

.loseRes {
  grid-row: 4 / 4;
  text-align: right;
  color: red;
  padding-bottom: 20px;
}

.user-buttons {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr;
  grid-row: 1 / 1;
  grid-column: 2 / 4;
  margin-top: 75px;
  text-align: center;
  align-content: center;
}

.friend {
  grid-column: 1 / 2;
  cursor: pointer;
}

.fa-solid {
  margin-bottom: 30px;
}

.chat {
  grid-column: 2 / 2;
  cursor: pointer;
}

.block {
  grid-column: 3 / 3;
  cursor: pointer;
}

@media screen and (max-width: 1255px) {
  .user-buttons {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr;
    grid-row: 1 / 1;
    grid-column: 4 / 4;
    margin-top: 150px;
    margin-right: 40px;
    text-align: center;
    align-content: center;
  }
}

@media screen and (max-width: 400px) {
  .profile-container {
    font-family: Azonix;
    height: 100vh;
    user-select: none;
  }

  .profile-box {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    border-radius: 8px;
    color: orange;
    margin-bottom: 90px;
    width: 95%;
    height: 85%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(40px);
  }

  .profile-image-space {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 50%;
  }

  .profile-image {
    display: block;
    overflow: hidden;
    width: 150px;
    height: 150px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  .username {
    grid-row: 2 / 2;
    grid-column: 1 / 1;
    font-size: 40px;
    margin-top: 60px;
    text-align: center;
    align-items: center;
  }

  .user-buttons {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr;
    grid-row: 2 / 2;
    grid-column: 1 / 1;
    margin-top: 150px;
    margin-right: 40px;
    text-align: center;
    align-content: center;
  }

  .matchbox {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    align-items: center;
    grid-row: 3 / 3;
    grid-column: 1 / 1;
    font-size: 40px;
    margin-right: 40px;
  }

  .logout {
    grid-row: 4 / 4;
    grid-column: 1 / 1;
  }

  .logout button {
    float: right;
    margin-right: 40px;
    font-family: Azonix;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    padding: 15px;
    transition: background 0.3s;
    color: white;
    background-image: linear-gradient(to right, purple, orange);
  }
}
