<app-navbar></app-navbar>
<div class="profile-container">
  <div class="profile-box">
    <div class="logout">
      <button (click)="logout()">LOGOUT</button>
    </div>
    <div class="username">
      {{ user }}
    </div>
    <div class="matchbox">
      <div class="win">WIN</div>
      <div class="winRes">
        {{ win }}
      </div>
      <div class="lose">LOSE</div>
      <div class="loseRes">
        {{ lose }}
      </div>
    </div>
    <div class="profile-image-space">
      <img
        id="image"
        [src]="profileImage"
        alt="Profile image"
        class="profile-image"
        appChangeImage
      />
      <input
        type="file"
        accept="image/*"
        (change)="onFileSelected($event)"
        style="display: none"
        #fileInput
      />
      <button
        (click)="fileInput.click()"
        appChangeImage
        id="text"
        class="change-text"
      >
        Change Image
      </button>
    </div>
  </div>
</div>
