.profile-container {
  font-family: Azonix;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;
}

.profile-box {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr 2fr;
  border-radius: 8px;
  color: orange;
  margin-bottom: 90px;
  width: 95%;
  height: 85%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(40px);
}

.profile-image {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  border: 2px solid;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: block;
  margin-left: 4vh;
  margin-top: 4vh;
  display: block;
  overflow: hidden;
  object-fit: cover;
  object-position: center center;
}

.change-text {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  font-family: Azonix;
  font-size: 20px;
  position: absolute;
  cursor: pointer;
  text-align: center;
  display: none;
  color: orange;
  background-color: transparent;
}

.username {
  position: absolute;
  font-size: 70px;
  top: 40px;
  right: 40px;
}

.username-space {
  grid-row: 1 / 2;
  grid-column: 4 / 4;
}

.logout {
  grid-row: 3 / 3;
  grid-column: 4 / 4;
}

.logout-bt {
  float: right;
  position: absolute;
  bottom: 2vh;
  right: 2vh;
  font-family: Azonix;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
  padding: 15px;
  transition: background 0.3s;
  color: white;
  background-image: linear-gradient(to right, purple, orange);
}

.matchbox {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 2fr 2fr 2fr;
  align-items: center;
  grid-row: 2 / 2;
  grid-column: 4 / 4;
  font-size: 40px;
  margin-right: 40px;
}

.win {
  grid-row: 1 / 1;
  text-align: right;
}

.winRes {
  grid-row: 2 / 2;
  text-align: right;
  color: green;
  padding-bottom: 20px;
}
.lose {
  grid-row: 3 / 3;
  text-align: right;
}

.loseRes {
  grid-row: 4 / 4;
  text-align: right;
  color: red;
  padding-bottom: 20px;
}

.user-buttons {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr;
  grid-row: 1 / 1;
  grid-column: 2 / 4;
  margin-top: 55px;
  text-align: center;
  align-content: center;
}

.friend {
  grid-column: 1 / 2;
  cursor: pointer;
}

.fa-solid {
  margin-bottom: 30px;
}

.chat {
  grid-column: 2 / 2;
  cursor: pointer;
}

.block {
  grid-column: 3 / 3;
  cursor: pointer;
}

.google-auth {
  grid-row: 4 / 4;
  grid-column: 1 / 1;
  margin-left: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.qr {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 2fr 2fr 2fr;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  border-radius: 8px;
  max-width: 250px;
  min-height: 300px;
  background-image: url("../../../../assets/home_wall.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-height: 400px;
  min-width: 250px;
  text-align: center;
}

.popup {
  background-color: transparent;
  padding: 20px;
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border-radius: 30px;
  margin-top: 40px;
  grid-row: 2 / 3;
  max-width: 100%;
}

.warning {
  grid-row: 1 / 1;
  margin-bottom: 35px;
  color: red;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}

.buttons {
  grid-row: 4/4;
  display: flex;
  z-index: 9999;
  overflow: hidden;
}

.buttons .right {
  position: absolute;
  bottom: 2vh;
  right: 2vh;
  font-family: Azonix;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
  padding: 15px;
  transition: background 0.3s;
  color: white;
  background-color: red;
}

.buttons .left {
  position: absolute;
  bottom: 2vh;
  left: 2vh;
  font-family: Azonix;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
  padding: 15px;
  transition: background 0.3s;
  color: white;
  background-color: green;
}

@media (max-width: 1255px) {
  .user-buttons {
    display: grid;
    min-width: 300px;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr;
    grid-row: 1 / 1;
    grid-column: 4 / end;
    margin-top: 150px;
    margin-right: 30px;
    text-align: center;
    align-content: center;
  }
}

@media (max-width: 765px) {
  .profile-container {
    font-family: Azonix;
    height: 100vh;
    user-select: none;
    color: orange;
  }

  .profile-box {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    border-radius: 8px;
    margin-bottom: 10vh;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(40px);
  }

  .profile-image {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    border: 2px solid;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 4vh;
    display: block;
    overflow: hidden;
    object-fit: cover;
    object-position: center center;
  }

  .change-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-family: Azonix;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    display: none;
    color: orange;
    background-color: transparent;
  }

  .username-space {
    grid-row: 2 / 2;
    grid-column: 1 / 1;
    text-align: center;
    margin: 0 auto;
    margin-top: 5vh;
  }

  .username {
    position: relative;
    font-size: 50px;
    margin-top: 10vh;
    margin-right: 0;
    top: 0px;
    right: 0px;
  }

  .user-buttons {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr;
    grid-row: 2 / 2;
    grid-column: 1 / 1;
    margin-top: 15vh;
    margin-right: 0px;
    font-size: 12px;
  }

  .matchbox {
    grid-row: 3 / 3;
    grid-column: 1 / 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr;
    align-items: center;
    font-size: 40px;
    margin-right: 0px;
  }

  .win {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    text-align: center;
    font-size: 25px;
  }

  .winRes {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
    text-align: center;
    color: green;
    padding-bottom: 0px;
    font-size: 25px;
  }
  .lose {
    grid-row: 1 / 1;
    grid-column: 4 / 4;
    text-align: center;
    font-size: 25px;
  }

  .loseRes {
    grid-row: 4 / 4;
    grid-row: 1 / 1;
    text-align: center;
    color: red;
    font-size: 25px;
    padding-bottom: 0px;
  }

  .logout {
    grid-row: 4 / 4;
    grid-column: 1 / 1;
  }

  .logout-bt {
    position: absolute;
    bottom: 2vh;
    right: 2vh;
    font-family: Azonix;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    padding: 15px;
    transition: background 0.3s;
    color: white;
    background-image: linear-gradient(to right, purple, orange);
  }

  .qr {
    backdrop-filter: none;
    background-color: orange;
    min-width: 250px;
  }
}
