<app-navbar></app-navbar>
<div class="profile-container">
  <div class="profile-box" *ngIf="user">
    <app-profile-image
      [user]="user"
      [currentUser]="currentUser"
    ></app-profile-image>
    <div class="username-space">
      <span class="username">{{ user.username }}</span>
    </div>
    <ng-container *ngIf="!currentUser">
      <app-user-buttons
        class="user-buttons"
        [username]="user.username"
        [isFriend]="isFriend"
        [isBlocked]="isBlocked"
      ></app-user-buttons>
    </ng-container>
    <div class="matchbox">
      <div class="win">WIN</div>
      <div class="winRes">
        {{ user.Wins }}
      </div>
      <div class="lose">LOSE</div>
      <div class="loseRes">
        {{ user.Losses }}
      </div>
    </div>
    <ng-container *ngIf="currentUser"
      ><app-two-factor-auth [user]="user"> </app-two-factor-auth>
    </ng-container>
    <div class="logout" *ngIf="currentUser">
      <button class="logout-bt" (click)="logout()">LOGOUT</button>
    </div>
  </div>
</div>
