.box {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr 2fr;
}

.box app-profile-image {
  margin-top: 4vh;
  margin-left: 4vw;
}

.username {
  position: absolute;
  font-size: 70px;
  top: 40px;
  right: 40px;
}

.username-space {
  grid-row: 1 / 2;
  grid-column: 4 / 4;
}

.logout {
  grid-row: 3 / 3;
  grid-column: 4 / 4;
}

.logout-bt {
  position: absolute;
  bottom: 3vh;
  right: 3vh;
  font-family: Azonix;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
  padding: 15px;
  transition: background 0.3s;
  color: white;
  background-image: linear-gradient(to right, purple, orange);
}

.matchbox {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 2fr 2fr 2fr;
  align-items: center;
  grid-row: 2 / 2;
  grid-column: 4 / 4;
  font-size: 40px;
  margin-right: 40px;
}

.win {
  grid-row: 1 / 1;
  text-align: right;
}

.winRes {
  grid-row: 2 / 2;
  text-align: right;
  color: green;
  padding-bottom: 20px;
}
.lose {
  grid-row: 3 / 3;
  text-align: right;
}

.loseRes {
  grid-row: 4 / 4;
  text-align: right;
  color: red;
  padding-bottom: 20px;
}

.user-buttons {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr;
  grid-row: 1 / 1;
  grid-column: 2 / 4;
  margin-top: 55px;
  text-align: center;
  align-content: center;
}
@media (max-width: 1255px) {
  .user-buttons {
    display: grid;
    min-width: 300px;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr;
    grid-row: 1 / 1;
    grid-column: 4 / end;
    margin-top: 150px;
    margin-right: 30px;
    text-align: center;
    align-content: center;
  }
}

@media (max-width: 765px) {
  .box {
    grid-template-columns: 2fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
  }

  .user-buttons {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr;
    grid-row: 3 / 3;
    grid-column: 1 / 1;
    margin-top: 0vh;
    margin-right: 0px;
    font-size: 12px;
  }

  .username-space {
    grid-row: 2 / 2;
    grid-column: 1 / 1;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .username {
    position: relative;
    font-size: 8vw;
    margin-top: 10vh;
    margin-right: 0;
    top: 0px;
    right: 0px;
  }

  .matchbox {
    grid-row: 2 / 2;
    grid-column: 1 / 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr;
    align-items: center;
    font-size: 40px;
    margin-right: 0px;
    position: relative;
    top: 12vh;
    max-height: 50px;
  }

  .win {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    text-align: center;
    font-size: 25px;
    margin-left: 25px;
  }

  .winRes {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
    text-align: center;
    color: green;
    padding-bottom: 0px;
    font-size: 25px;
  }
  .lose {
    grid-row: 1 / 1;
    grid-column: 4 / 4;
    text-align: center;
    font-size: 25px;
    margin-right: 25px;
  }

  .loseRes {
    grid-row: 4 / 4;
    grid-row: 1 / 1;
    text-align: center;
    color: red;
    font-size: 25px;
    padding-bottom: 0px;
  }

  .logout {
    grid-row: 4 / 4;
    grid-column: 1 / 1;
  }

  .logout-bt {
    position: absolute;
    bottom: 3vh;
    right: 2vh;
    font-family: Azonix;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    padding: 15px;
    transition: background 0.3s;
    color: white;
    background-image: linear-gradient(to right, purple, orange);
  }
}
