<app-navbar></app-navbar>

<canvas id="renderCanvas" *ngIf="opponentConnected; else findingOpponent" class="game"> </canvas>

<ng-template #findingOpponent>
	<div class="container">
		<div class="box">
			<div class="player-box">			
				<app-profile-image
				*ngIf="user"
				[user]="user"
				[currentUser]="false"
				></app-profile-image>
				<div class="matchbox" *ngIf="user">
					<div style="text-align: center;" class="win">WIN</div>
					<div style="grid-row: 2/2; text-align: center; color: green;" class="winRes">
					  {{ user.Wins }}
					</div>
					<div style="grid-column: 2/2;text-align: center;" class="lose">LOSE</div>
					<div style="grid-column: 2/2; grid-row: 2/2;text-align: center; color: red;" class="loseRes">
					  {{ user.Losses }}
					</div>
				</div>
			</div>
			<div class="opponent-box" >
				<H1>Looking for opponent...</H1>
				<div class="loader"></div>

			</div>
		</div>
	</div>

</ng-template>