<div class="navbar">
  <ng-container *ngIf="screenW > 950; else mobileBar"
    ><nav class="menu">
      <span class="logo" routerLink="/transcendence/home">transcendence</span>
      <a routerLink="/transcendence/chat" (click)="onChatClick()">CHAT</a>
      <a routerLink="/transcendence/leaderboard">LEADERBOARD</a>
      <a routerLink="/transcendence/friends">FRIENDS</a>
      <a [routerLink]="['/transcendence/profile', user]">{{ user }}</a>
    </nav></ng-container
  >
  <ng-template #mobileBar
    ><i
      class="fa-solid fa-bars fa-2xl ham"
      style="color: #ffa500; z-index: 10000"
      appDropmenu
    ></i>
    <span class="logo" routerLink="/transcendence/home">transcendence</span>
    <div class="backresp" appDropmenu>
      <nav class="responsive">
        <a routerLink="/transcendence/chat" (click)="onChatClick()">CHAT</a>
        <a routerLink="/transcendence/leaderboard">LEADERBOARD</a>
        <a routerLink="/transcendence/friends">FRIENDS</a>
        <a [routerLink]="['/transcendence/profile', user]">{{ user }}</a>
      </nav>
    </div></ng-template
  >
</div>
