<section class="card-box" *ngIf="user" [style.top]="topVh ? '14vh' : '20vh'">
  <picture
    class="profile-img"
    [ngStyle]="{
      color: user.isOnline ? (user.isPlaying ? 'orange' : 'green') : 'red'
    }"
  >
    <img [src]="user.img" />
  </picture>
  <div class="username">{{ username }}</div>
  <section class="user-buttons">
    <ng-container *ngIf="user.isOnline; else noPlay">
      <div class="play">
        <i class="fa-sharp fa-regular fa-circle-play"></i><br />
        <span>PLAY</span>
      </div></ng-container
    >
    <ng-template #noPlay>
      <div class="play">
        <i class="fa-solid fa-ban"></i><br />
        <span>PLAY</span>
      </div>
    </ng-template>
    <div class="chat" (click)="openFriendChat()">
      <i class="fa-solid fa-headset"></i><br />
      <span>CHAT</span>
    </div>
    <div class="profile">
      <i class="fa-regular fa-address-card" (click)="openFriendProfile()"></i
      ><br />
      <span (click)="openFriendProfile()">USER</span>
    </div>
  </section>
  <div class="winRes">
    {{ user.Wins }}
  </div>
  <div class="loseRes">
    {{ user.Losses }}
  </div>
</section>
