<div class="signup-container">
  <div class="signup-box">
    <h1 class="signup-title">Create a new account</h1>
    <form autocomplete="off" [formGroup]="signupForm">
      <div class="form-group">
        <input
          formControlName="email"
          name="email"
          type="email"
          class="form-control signup-input"
          id="email"
          placeholder="Email"
        />
      </div>
      <div class="form-group">
        <input
          formControlName="username"
          name="username"
          type="text"
          class="form-control signup-input"
          id="username"
          placeholder="Username"
        />
      </div>
      <div class="input-form">
        <input
          formControlName="password"
          class="input-group"
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Password"
        />
        <div class="password-eye">
          <span
            class="password-eye-button"
            (click)="togglePasswordVisibility()"
          >
            <i class="fa-regular fa-eye-slash" *ngIf="showPassword"></i>
            <i class="fa-sharp fa-regular fa-eye" *ngIf="!showPassword"></i>
          </span>
        </div>
      </div>
      <div class="input-form">
        <input
          formControlName="confirmPassword"
          class="input-group"
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Confirm Password"
        />
        <div class="password-eye">
          <span
            class="password-eye-button"
            (click)="togglePasswordVisibility()"
          >
            <i class="fa-regular fa-eye-slash" *ngIf="showPassword"></i>
            <i class="fa-sharp fa-regular fa-eye" *ngIf="!showPassword"></i>
          </span>
        </div>
      </div>
      <div class="error">{{ errorMsg }}</div>
      <button
        type="submit"
        class="btn btn-primary signup-button"
        (click)="newUser()"
      >
        Register
      </button>
    </form>
  </div>
</div>
