* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Azonix;
  text-decoration: none;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  background: transparent;
  backdrop-filter: blur(50px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
  font-size: 20px;
  color: orange;
}

.navbar a {
  font-size: 18px;
  color: white;
  margin-left: 40px;
}

.navbar a:hover {
  color: orange;
}
