<app-navbar></app-navbar>
<div class="container">
  <div class="box">
    <h1>LEADERBOARD</h1>
    <br />
    <div class="player-card" *ngFor="let player of players; let i = index">
      <div class="rank">
        {{ i + 1 }}
      </div>
      <div>
        <div class="profile-img">
          <img
            [src]="
              player.img !== ''
                ? player.img
                : 'https://cdn.dribbble.com/users/2092880/screenshots/6426030/pong_1.gif'
            "
          />
        </div>
        <div class="username" (click)="openProfile(player.username)">
          {{ player.username }}
        </div>
        <div class="win">{{ player.Wins }}</div>
        <div class="lose">{{ player.Losses }}</div>
      </div>
    </div>
  </div>
</div>
