.container {
  font-family: Azonix;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100% !important;
  user-select: none;
}

h1 {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  border-radius: 8px;
  color: orange;
  margin-bottom: 90px;
  width: 95%;
  height: 85%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(40px);
}

.player-card {
  position: relative;
  top: 10vh;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 90px;
}

.profile-img {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: 2px solid orange;
  display: block;
  background-color: black;
  overflow: hidden;
  object-fit: cover;
  object-position: center center;
  margin-left: 30px;
}

.profile-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.username {
  position: relative;
  top: 3.5vh;
  left: 20vw;
  font-size: 35px;
  cursor: pointer;
  color: orange;
  display: inline-block;
}

.rank {
  display: flex;
  position: absolute;
  top: 50%;
  left: 3vw;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
}

.win {
  position: absolute;
  top: 50%;
  left: 80vw;
  transform: translate(-50%, -50%);
  color: green;
  font-size: 30px;
}

.lose {
  position: absolute;
  top: 50%;
  left: 90vw;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 30px;
}

@media (max-width: 765px) {
  .profile-img {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid chocolate;
    display: block;
    background-color: black;
    overflow: hidden;
    object-fit: cover;
    object-position: center center;
  }

  h1 {
    margin-bottom: 50px;
  }

  .profile-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .username {
    position: absolute;
    top: 40%;
    left: 35vw;
    font-size: 20px;
    cursor: pointer;
    color: orange;
  }

  .rank {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
  }

  .win {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: green;
    font-size: 20px;
  }

  .lose {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 20px;
  }
}
