<div class="mdc-dialog__surface third-dialog">
  <h2 mat-dialog-title>Change type or password</h2>
  <div mat-dialog-content style="padding: 0%;">
    <select [(ngModel)]="data.channelType" class="channel-kind">
      <option value="PRIVATE">Private</option>
      <option value="PUBLIC">Public</option>
    </select>
  </div>
  <div *ngIf="data.channelType === 'PUBLIC'">
    <input matInput [(ngModel)]="data.password" type="password" autocomplete="new-password" (keyup.enter)="onSubmitClick()" required>
  </div>
  <div mat-dialog-actions>
    <button mat-button id="cancelPasswordButton" (click)="onCancelClick()">Cancel</button>
    <!-- Use ngClass to conditionally apply the disabled class -->
    <button mat-button id="submitPasswordButton" (click)="onSubmitClick()">Submit</button>
  </div>
</div>
