.channel-kind {
  font-family: Newake;
  border-radius: 80px;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid orange;
  color: orange;
  background: rgba(0, 0, 0, 0.5);
  padding: 1px 10px 10px 10px;
  text-indent: 20px;
  outline: none;
  font-size: 15px;
}
