<div class="login-container">
  <div class="login-box">
    <h1 class="login-title">TRASCENDENCE</h1>
    <form [formGroup]="signupForm">
      <div>
        <input
          formControlName="email"
          name="email"
          type="email"
          class="login-input"
          id="email"
          placeholder="Email"
        />
      </div>
      <div class="input-form">
        <input
          formControlName="password"
          class="input-group"
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Password"
        />
        <div class="password-eye">
          <span
            class="password-eye-button"
            (click)="togglePasswordVisibility()"
          >
            <i class="fa-regular fa-eye-slash" *ngIf="showPassword"></i>
            <i class="fa-sharp fa-regular fa-eye" *ngIf="!showPassword"></i>
          </span>
        </div>
      </div>
      <div class="split-button">
        <button class="left-half" (click)="onLogin()">LOGIN</button>
        <button class="right-half">42</button>
      </div>
      <div class="error">{{ errorMsg }}</div>
    </form>
    <div class="login-footer">
      <p>Don't have an account? <a routerLink="/signup">Sign up</a></p>
    </div>
  </div>
</div>
