<section class="input-form">
  <input
    id="password"
    class="input-group"
    [(ngModel)]="password"
    (ngModelChange)="onPasswordChange($event)"
    [type]="showPassword ? 'text' : 'password'"
    [placeholder]="placeholder"
    spellcheck="false"
    autocomplete="off"
  />
  <picture class="password-eye">
    <div class="password-eye-button" (click)="togglePasswordVisibility()">
      <i class="fa-regular fa-eye-slash" *ngIf="showPassword"></i>
      <i class="fa-sharp fa-regular fa-eye" *ngIf="!showPassword"></i>
    </div>
  </picture>
</section>
