.input-group {
  font-family: Newake;
  border-radius: 80px;
  width: 80%;
  margin-bottom: 15px;
  border: 2px solid orange;
  color: orange;
  background: transparent;
  padding: 20px 40px 20px 20px;
  text-indent: 20px;
  outline: none;
  font-size: 15px;
}

.input-form {
  position: relative;
}

.input-group::placeholder {
  color: orange;
  background: transparent;
  text-indent: 20px;
}

.input-group:focus {
  background: transparent;
}

.password-eye {
  position: absolute;
  right: 30px;
  top: 40%;
  transform: translateY(-50%);
}

.password-eye-button {
  border: none;
  background: transparent;
  cursor: pointer;
}
