<div class="card-box">
  <div
    class="profile-img"
    [ngStyle]="{
      color: isOnline ? (isPlaying ? 'orange' : 'green') : 'red'
    }"
  >
    <img [src]="profileImage" />
  </div>
  <div class="username">{{ username }}</div>
  <div class="user-buttons">
    <div class="play">
      <i class="fa-sharp fa-regular fa-circle-play"></i><br />
      <span>PLAY</span>
    </div>
    <div class="chat">
      <i class="fa-solid fa-headset"></i><br />
      <span>CHAT</span>
    </div>
    <div class="profile" (click)="openFriendProfile()">
      <i class="fa-regular fa-address-card"></i><br />
      <span>USER</span>
    </div>
  </div>
  <div class="winRes">
    {{ win }}
  </div>
  <div class="loseRes">
    {{ lose }}
  </div>
</div>
