body {
	margin: 0;
	padding: 0;
	overflow: hidden;
  }
  
  .login-container {
	font-family: Azonix;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
  
  .login-box {
	padding: 30px;
	border-radius: 8px;
	color: orange;
	width: 350px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .2);
	backdrop-filter: blur(15px);
  }
  
  .login-title {
	display: flex;
	justify-content: center;
	font-size: 30px;
	margin-bottom: 30px;
  }
  
  .login-input {
	font-family: Newake;
	border-radius: 80px;
	width: 80%;
	margin-bottom: 15px;
	border: 2px solid orange;
	color: orange;
	background: transparent;
	padding: 20px 40px 20px 20px;
	text-indent: 20px;
	outline: none;
	font-size: 15px;
  }
  
  .login-input::placeholder {
	 color:  orange;
	 background: transparent;
	 text-indent: 20px;
  }
  
  .login-input:focus {
	background: transparent;
  }
  
  .login-button {
	font-family: Azonix;
	border-radius: 50px;
	padding: 15px 20px;
	background-color: orange;
	color: #ffffff;
	width: 100%;
  }
  
  .login-footer {
	margin-top: 30px;
	font-size: 12px;
	text-align: center;
  }
  
  .login-footer a {
	color: #1da1f2;
	text-decoration: none;
  }