@use '~@angular/material' as mat;

$primary-palette: mat.define-palette($mat-orange);
$accent-palette: mat.define-palette($mat-amber);

$typography-config: mat-typography-config(
  $font-family: 'Azonix, sans-serif'
);

$custom-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary-palette,
      accent: $accent-palette
    ),
    typography: $typography-config
  )
);

@include mat.core();
@include mat.all-component-themes($custom-theme);
