@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.mdc-dialog__surface {
  background-color: transparent  !important;
}

.mdc-dialog__content {
	padding: 0px 22px 0px 24px !important;
}

.mat-mdc-dialog-container .mdc-dialog__title {
  color: orange !important;
}

/* popup for join in channel with passwor! */

.mdc-dialog__surface.first-dialog {
  background: darkslateblue !important;
  border: 2px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 20px !important;
  backdrop-filter: blur(40px);
  width: 300px !important;
  height: 160px !important;
}

#cancelButton {
  background-color: rgb(107, 15, 15);
  color: #fff;
  border: none;
  margin-right: 2%;
  margin-top: 5%;
  cursor: pointer;
  border-radius: 20px;
  padding: 15px 20px;
}

#submitButton {
  background-color: green;
  color: #fff;
  border: none;
  margin-left: 2%;
  margin-top: 5%;
  margin-top: auto;
  cursor: pointer;
  border-radius: 20px;
  padding: 15px 20px;
}

/* popup for leaving channel cheack! */


.mdc-dialog__surface.second-dialog {
  background: darkslateblue !important;
  border: 2px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 20px !important;
  backdrop-filter: blur(40px);
  width: 550px !important;
  height: 125px !important;
}

#cancelLeaveButton {
  background-color: rgb(107, 15, 15);
  color: #fff;
  border: none;
  margin-right: 2%;
  margin-top: 1%;
  cursor: pointer;
  border-radius: 20px;
  padding: 15px 20px;
}

#submitLeaveButton {
  background-color: green;
  color: #fff;
  border: none;
  margin-left: 2%;
  margin-top: 1%;
  margin-top: auto;
  cursor: pointer;
  border-radius: 20px;
  padding: 15px 20px;
}

/* pop un mod change password or channel type */

.mdc-dialog__surface.third-dialog {
  background: darkslateblue !important;
  border: 2px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 20px !important;
  backdrop-filter: blur(40px);
}

.mdc-dialog__content.third-dialog {
  display: flex;
  justify-content: center;
  padding: 0% 0% 0% 0%;
}
 
#cancelPasswordButton {
  background-color: rgb(107, 15, 15);
  color: #fff;
  border: none;
  margin-right: 2%;
  margin-top: 1%;
  cursor: pointer;
  border-radius: 20px;
  padding: 15px 20px;
}

#submitPasswordButton {
  background-color: green;
  color: #fff;
  border: none;
  margin-left: 2%;
  margin-top: 1%;
  margin-top: auto;
  cursor: pointer;
  border-radius: 20px;
  padding: 15px 20px;
}

/*            */

.mdc-dialog__surface.game-dialog {
	background: darkslateblue !important;
	border: 2px solid rgba(255, 255, 255, 0.1) !important;
	border-radius: 20px !important;
	backdrop-filter: blur(40px);
  }
  
.mdc-dialog__content.game-dialog {
	display: flex;
	justify-content: center;
	padding: 0% 0% 0% 0%;
}

#normalModeButton {
	font-family: Newake;
	border-radius: 40px;
	margin-bottom: 15px;
	border: 2px solid orange;
	color: orange;
	background: black;
	outline: none;
	font-size: 15px;
	padding: 15px;
}

#powerModeButton {
	font-family: Newake;
	border-radius: 40px;
	margin-bottom: 15px;
	border: 2px solid orange;
	color: orange;
	background: black;
	outline: none;
	font-size: 15px;
	padding: 15px;
}

.mdc-dialog__surface div {
  display: flex;
  justify-content: center;
}

.mdc-dialog__surface input {
  border-radius: 10px !important;
}
.mdc-dialog__surface h2{
  display: flex;
  justify-content: center;
}

.multiline-snackbar{
  white-space: pre-line !important;
  text-align: center;
}
