/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Azonix";
  src: url("assets/fonts/Azonix.otf") format("opentype");
}

@font-face {
  font-family: "Acqua";
  src: url("assets/fonts/Aquatico-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Newake";
  src: url("assets/fonts/Newake-Font-Demo.otf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.background {
  position: fixed;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/home_wall.gif");
  background-size: cover;
  z-index: -1;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill::first-line,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-family: Newake 15px !important;
  font-size: 15px !important;
  -webkit-text-fill-color: orange;
  transition: background-color 5000s ease-in-out 0s;
}
