<div class="signup-container">
  <div class="signup-box">
    <h1 class="signup-title">Create a new account</h1>
    <form autocomplete="off">
      <div class="form-group">
        <input
          [(ngModel)]="email"
          name="email"
          type="email"
          class="form-control signup-input"
          id="email"
          placeholder="Email"
        />
      </div>
      <app-password
        [inputType]="'password'"
        [placeholder]="'Password'"
      ></app-password>
      <app-password
        [inputType]="'confirm'"
        [placeholder]="'Confirm Password'"
      ></app-password>
      <div class="error">{{ errorMsg }}</div>
      <button
        type="submit"
        class="btn btn-primary signup-button"
        (click)="newUser()"
      >
        Register
      </button>
    </form>
  </div>
</div>
