.message {
  position: relative;
  font-family: Newake;
  padding: 20px;
  border-radius: 10px;
  max-width: 45%;
  margin-top: 15px;
  min-width: 100px;
}

.mine {
  background-color: rgba(0, 0, 0, 0.5);
  align-self: end;
  text-align: left;
}

.other {
  background-color: rgba(72, 61, 139, 0.5);
  align-self: start;
  text-align: left;
}

.mod {
  background-color: rgba(40, 138, 125, 0.5);
  align-self: center;
  text-align: center;
}

span {
  color: white;
  display: block;
  white-space: wrap;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 18px;
}

.message-content {
  font-size: 16px;
  display: block;
  white-space: wrap;
  overflow-x: hidden;
}

.username {
  font-size: 13px;
  color: rgb(106, 99, 154);
  margin-bottom: 10px;
}


.invite{
  background-color: black;
  border: 2px solid orange;
}

.invite h2{
  font-family: Azonix;
}

.invite div{
  text-align: center;
}

.invite button{
  border: 2px solid rebeccapurple;
  border-radius: 20px;
  color: aqua;
  background-color: darkblue;
}

.inviteDone {

}

.inviteOld {
  background-color: grey;
  border: 2px solid rgb(0, 0, 0);
}