<ng-container *ngIf="currentUser; else otherUser">
  <ng-container [ngSwitch]="message.isInvite">
    <section *ngSwitchCase="'PENDING'" class="message mine invite">
        <h2>{{inviteMode}} game </h2>
        <div>
          <button (click)="redirectToGame()">Go to game</button>
        </div>
      </section>
      <section *ngSwitchCase="'ACCEPTED'" class="message mine invite">
        <h2>{{inviteMode}} game</h2>
        <div>
          <button>Invite already accepted</button>
        </div>
      </section>
      <section *ngSwitchCase="'OUTDATED'" class="message mine invite">
        <h2>{{inviteMode}} game</h2>
        <div>
          <button>Invite Outdated</button>
        </div>
      </section>
      <ng-container  *ngSwitchDefault>
        <section class="message mine">
          <span class="message-content">{{ message.msg }}</span>
        </section>
      </ng-container>
  </ng-container>
</ng-container>
<ng-template #otherUser>
  <ng-container *ngIf="!message.isModer; else isModer">

    <ng-container [ngSwitch]="message.isInvite">
      <section *ngSwitchCase="'PENDING'" class="message other invite">
          <h2>{{inviteMode}} game</h2>
          <div>
            <button (click)="redirectToGame()">Go to game</button>
          </div>
        </section>
        <section *ngSwitchCase="'ACCEPTED'" class="message other invite">
          <h2>{{inviteMode}} game</h2>
          <div>
            <button>Invite already accepted</button>
          </div>
        </section>
        <section *ngSwitchCase="'OUTDATED'" class="message other invite">
          <h2>{{inviteMode}} game</h2>
          <div>
            <button>Invite Outdated</button>
          </div>
        </section>
        <ng-container  *ngSwitchDefault>
          <section class="message other">
            <span *ngIf="!currentUser" class="username">{{ message.user }}</span>
            <span class="message-content">{{ message.msg }}</span>
            <span *ngFor="let mebmer of message.mebmers"> {{mebmer}}</span>
          </section>
        </ng-container>
    </ng-container>
</ng-container>
<ng-template #isModer>
  <section class="message mod">
    <span class="message-content">{{ message.msg }}</span>
    <span *ngFor="let mebmer of message.mebmers"> {{mebmer}}</span>
  </section>
  </ng-template>
</ng-template>
