<!-- password.component.html -->
 <!-- readonly onclick="this.removeAttribute(readonly);" --> 
<h2 mat-dialog-title>Enter Password</h2>
<div mat-dialog-content>
    <input matInput [(ngModel)]="data.password" type="password" autocomplete="off" readonly onclick="this.removeAttribute('readonly');">
</div>
<div mat-dialog-actions>
    <button mat-button id="cancelButton" (click)="onCancelClick()">Cancel</button>
    <button mat-button id="submitButton" (click)="onSubmitClick(data.password)" cdkFocusInitial>Submit</button>
</div>
