<app-navbar></app-navbar>
<main class="container">
  <section class="box">
    <section class="sidebar">
      <div class="title">
        <p>{{ title }}</p>
      </div>
      <input
        id="search"
        [(ngModel)]="search"
        class="search"
        autocomplete="on"
        spellcheck="false"
        [placeholder]="placeholder"
        (keydown.enter)="searchChat()"
      />
      <ng-container *ngFor="let conversation of messages">
        <app-chat-user
          *ngIf="conversation.username !== userService.getUser()"
          [conversation]="conversation"
          (openChat)="openChat($event)"
        >
        </app-chat-user>
      </ng-container>
      <div class="create-channel" (click)="newChannel.changeDialogStatus()">
        <i class="fa-solid fa-people-group fa-2xl"></i>
      </div>
    </section>
    <section class="message-area">
      <app-message *ngFor="let message of chat" [message]="message">
      </app-message>
    </section>
    <form class="message-container">
      <input
        id="message-input"
        *ngIf="chat.length !== 0 || isOpen"
        class="message-input"
        type="text"
        autocomplete="off"
        spellcheck="true"
        [(ngModel)]="newMessage"
        name="message"
        placeholder="Type a message..."
      />
      <button
        *ngIf="chat.length !== 0 || isOpen"
        type="submit"
        (click)="sendMessageToUser(title)"
      >
        Send
      </button>
    </form>
  </section>
  <app-new-channel #newChannel></app-new-channel>
  <div
    class="backdroppe"
    *ngIf="newChannel.isOpen"
    (click)="newChannel.changeDialogStatus()"
  ></div>
</main>
