.box {
  grid-template-columns: 1.5fr 5fr;
  grid-template-rows: 5fr;
  border-radius: 20px;
  background-color: rgba(24, 25, 26, 0.9);
  border: 2px solid black;
}

.sidebar {
  grid-row: 1 / 4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr;
  border-right: 2px solid black;
  overflow-y: auto !important;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.title {
  grid-column: 1 / 5;
  grid-row: 1 / 1;
  text-align: center;
  border-bottom: 2px solid black;
  border-top-left-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/assets/giphy2.gif");
  backdrop-filter: blur(50px);
  -webkit-text-stroke: 1px black;
}

.title p {
  position: relative;
  top: 5px;
  font-size: 25px;
  color: darkslateblue;
  text-shadow: 0 0 10px #fff, 0 0 20px #00c4ff, 0 0 30px #00c4ff,
    0 0 40px #00c4ff, 0 0 70px #00c4ff, 0 0 80px #00c4ff, 0 0 100px #00c4ff;
}

.message-container {
  grid-column: 2 / 3;
  margin-left: 10px;
  margin-right: 10px;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr;
}

.message-input {
  grid-column: 1 / end;
  font-family: Newake;
  border-radius: 80px;
  max-height: 20px;
  margin-bottom: 15px;
  border: 2px solid darkslateblue;
  color: white;
  background: black;
  text-indent: 20px;
  outline: none;
  font-size: 15px;
  padding: 15px;
}

.message-input::placeholder {
  color: white;
  background: transparent;
  text-indent: 20px;
}

.message-container button {
  grid-column: 3;
  position: absolute;
  right: 10px;
  font-family: Azonix;
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 50px;
  padding: 17px;
  background-color: darkslateblue;
}

.message-area {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  overflow-y: auto !important;
  overflow-x: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.other-msg {
  grid-column: 1 / 2;
  margin: 0 !important;
}
