<app-navbar></app-navbar>
<main class="container">
  <section class="box">
    <section class="sidebar">
      <div class="title"><p>CHAT</p></div>
      <ng-container *ngFor="let conversation of messages">
        <app-chat-user
          *ngIf="conversation.username !== userService.getUser()"
          [conversation]="conversation"
          (openChat)="openChat($event)"
        >
        </app-chat-user>
      </ng-container>
    </section>
    <section class="message-area">
      <app-message *ngFor="let message of chat" [message]="message">
      </app-message>
    </section>
    <form
      (submit)="sendMessageToChannel('#Mychannel')"
      class="message-container"
    >
      <input
        *ngIf="chat.length !== 0"
        class="message-input"
        type="text"
        autocomplete="off"
        spellcheck="true"
        [(ngModel)]="newMessage"
        name="message"
        placeholder="Type a message..."
      />
      <button type="submit">Send</button>
    </form>
  </section>
</main>
